<div class="header">
    <div style="background-color:#253c52;">
        <div style="background-color:#d51e25; height:3px; width:1500px">
        </div>
    </div>
    
        <nav class="navbar navbar-expand-sm navbar-dark bg-black">
            <div style="background-color:white;" class="card shadow-lg rounded">
                <a routerLink="/home"><img style="width:100%; height:50px; object-fit: cover; "
                    src="assets/img/logo.01e51a11.png" alt="..." ></a>
            </div>
            &nbsp;&nbsp;
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div id="navbar" class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                        <a class="nav-link text-white" routerLink="home">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                   <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
                    <li>
                        <a class="nav-link text-white" routerLink="emical">EMI Calculator</a>
                    </li>
                   </ul>
                   <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
                    <li>
                        <a class="nav-link text-white" routerLink="contact">Contact</a>
                    </li>
                   </ul>
                   <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
                    <li>
                        <a class="nav-link text-white" routerLink="">Location</a>
                    </li>
                   </ul>
                   
            <div class="log d-flex ms-auto order-5">
                <a class="btn btn-lg btn-info active" routerLink="/login">
                    <i class="fa fa-user-circle">LogIn</i>
                    </a>  </div>
            </div>
            
    </nav>
        </div>