.nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #fff;
    text-align: center;
    
}