<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Applicant Name</th>
        <th>Mobile Number</th>
        <th>Email Id</th>
        <th>Action</th>
        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of customerform">
       <td>{{c.cutomerDetails.customerId}}</td>
       <td>{{c.cutomerDetails.customerName}}</td>
       <td>{{c.cutomerDetails.customerMobileNumber}}</td>
       <td>{{c.cutomerDetails.customerEmailId}}</td>
        <td>
            <button class="btn btn-sm btn-info">
              <i class="fa fa-search"></i>Details</button>
            <button class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i>Edit</button>
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-remove"></i>Delete</button>
          </td>
        
      </tr>
      
      </tbody>
    </table>
  </div>