
<br><br>
<div class="disbursement">
  <form [formGroup]="loanDisbursementForm" (ngSubmit)="onSubmit()">
    <table>
      <thead>
        <h3>loan Disbursement </h3><br>
      </thead>
      <tbody>
        <tr>
          <td><Label> Loan Number </Label></td>
          <td><input type="number" formControlName="loanNumber" /></td>
        </tr>

        <tr>
          <td><Label> Customer Name</Label></td>
          <td><input type="text" formControlName="applicantName" /></td>
        </tr>
       
        <tr>
          <td><Label>Agreement Date(yyyy-mm-dd)</Label></td>
          <td><input type="number" formControlName="aggrementDate" /></td>
        </tr>

        <tr>
          <td><Label>Amount Pay Type </Label></td>
          <td><input type="text" formControlName="amountPayType" /></td>
        </tr>

        <tr>
          <td><Label> Total Loan Amount </Label></td>
          <td><input type="number" formControlName="totalAmount" /></td>
        </tr>

        <tr>
          <td><Label>Bank Name </Label></td>
          <td><input type="text" formControlName="bankName" /></td>
        </tr>

        <tr>
          <td><Label>Account Number</Label></td>
          <td><input type="number" formControlName="accountNumber" /></td>
        </tr>

        <tr>
          <td><Label>IFSC Code</Label></td>
          <td><input type="text" formControlName="ifscCode" /></td>
        </tr>


        <tr>
          <td><Label>Transfer Amount</Label></td>
          <td><input type="number" formControlName="transferAmount" /></td>
        </tr>

        <tr>
          <td><Label>Payment Status </Label></td>
          <td><input type="text" formControlName="paymentStatus" /></td>
        </tr>

        <tr>
          <td><Label>Amount Pay Date </Label></td>
          <td><input type="text" formControlName="amountPayDate" /></td>
        </tr>

      </tbody>
    </table>
          <button  type="submit" class="btn btn-success w-25">Save</button>
        
     
  </form>
</div>
