.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    text-align: center;
    background-image: url("/assets/img/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    color: wheat;
}
