<div class="header">
  <nav class="navbar navbar-expand-sm">
    <div style="background-color: ghostwhite" class="card shadow-lg rounded">
      <a routerLink="home"
        ><img
          src="assets/img/logo.01e51a11.png"
          style="width: 100%; height: 50px; object-fit: cover"
          alt="..."
      /></a>
    </div>
    <div class="d-flex ms-auto order-2">
      <h4>Home Loan Managment</h4>
    </div>
    <div class="log d-flex ms-auto order-2">
      <a class="btn btn-lg btn-warning active" routerLink="/">
        <i class="fa fa-sign-out">LogOut</i>
      </a>
    </div>
  </nav>
</div>
