<app-header></app-header>
<div>
        <div class="container">
            <marquee direction="left"  style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">
                Home Loan is to be repaid in EMIs every month. The residential unit to be purchased / constructed is taken as security by the Bank for Home Loan.
                &nbsp;&nbsp;
                Finding Ways to Funding Homes.
        </marquee>
         
            
                <div class="wrapper">
                    <img src="/assets/img/image-1.jpg">
                    <img src="/assets/img/image-2.jpg">
                    <img src="/assets/img/image-3.jpg">
                    <img src="/assets/img/image-4.jpg">
                    <img src="/assets/img/home_loan_banner.webp">
                    <img src="/assets/img/images-5.jpg">
                    <img src="/assets/img/images-6.jpg">
                    <img src="/assets/img/images-7.jpg">
                    <img src="/assets/img/image-8.jpg">
                    <img src="/assets/img/imaes-9.avif">
                    
                </div>
            </div>
        <!--<img style="object-fit: cover; height:fit-content; width:fit-content"src="/assets/img/home_loan_banner.webp">-->
<div>
    
<app-footer></app-footer>