<div class="enq">
    
<form >
    <table>
    <thead>
        <h1>Enquiry Form</h1>
    </thead>
<tbody>
    
    <tr><Label>Enter Applicant Name </Label>
    <input type="text"  formControlName="applicantname"></tr>

    <tr><Label>Enter Applicant Age</Label>
    <input type="text"  formControlName="age"></tr>

    <tr><Label>Enter Applicant Email </Label>
    <input type="text"  formControlName="email"></tr>

   <tr> <Label>Enter Applicant MobileNo. </Label>
    <input type="text"  formControlName="mbno"></tr>

    <tr><Label>Enter Applicant PanCard No. </Label>
    <input type="text"  formControlName="applicantname"></tr>

    <tr><Label>Enter  City</Label>
    <input type="text"  formControlName="city"></tr>

    <tr><Label>Enter  PinCode</Label>
    <input type="text"  formControlName="pincode"></tr>

   <tr><Label>Enter </Label>
    <input type="text"  formControlName="applicantname"></tr>
</tbody>
</table>
</form>