<div class="emp">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <table class="table table-striped mt-5">
      <thead>
        <h1>Employee Form</h1>
      </thead>
      <tbody>
        <tr>
          <td><label for="empId">Employee Id</label></td>
          <td><input type="number" formControlName="empId" /></td>
        </tr>
        <tr>
          <td><label for="empName">Employee Name</label></td>
          <td><input type="text" formControlName="empName" /></td>
        </tr>
        <tr>
          <td><label for="empUserName">Employee User Name</label></td>
          <td><input type="text" formControlName="empUserName" /></td>
        </tr>
        <tr>
          <td><label for="empUserPassword">Employee password</label></td>
          <td><input type="text" formControlName="empUserPassword" /></td>
        </tr>
        <tr>
          <td><label for="email">Employee email</label></td>
          <td><input type="text" formControlName="email" /></td>
        </tr>
        <tr>
          <td><label for="mobileNumber">Mobile Number</label></td>
          <td><input type="number" formControlName="mobileNumber" /></td>
        </tr>
        <tr>
          <td><label for="designation">Designation</label></td>
          <td><input type="text" formControlName="designation" /></td>
        </tr>
        <tr>
          <td><label for="userType">User Type</label></td>
          <td><input type="text" formControlName="userType" /></td>
        </tr>
        <tr>
          <td><button type="submit">Add Employee</button></td>
        </tr>
        <tr>
          <button type="button" (click)="updateData()">Update</button>
        </tr>
      </tbody>
    </table>
  </form>
</div>
