<p>view-loan-disbursement works!</p>

<div>
  <h1 class="text-center mb-3 text-white bg-primary">
    <i class="fa fa-table" aria-hidden="true"></i>loan-disbursement Details
  </h1>
</div>
<table class="table table-hover table-bordered table-striped table-hover ">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Loan-disbursement Id</th>
      <th>loan-disbursement Number</th>
      <th>Aggrement Date</th>
      <th>Amount Pay Type</th>
      <th>Total Amount</th>
      <th>Bank Name</th>
      <th>Account Number</th>
      <th>IFSC Code</th>
      <th>Account Type</th>
      <th>Transfer Amount</th>
      <th>Payment Status</th>
      <th>amountPayDate</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of loan; index as i">
      <td>{{ i }}</td>
      <td>{{ l.aggrementId }}</td>
      <td>{{ l.loanNumber }}</td>
      <td>{{l.applicantName}} </td>
      <td>{{ l.aggrementDate }}</td>
      <td>{{ l.amountPayType }}</td>
      <td>{{ l.totalAmount }}</td>
      <td>{{ l.bankName }}</td>
      <td>{{ l.accountNumber }}</td>
      <td>{{ l.ifscCode }}</td>
      
      <td>{{ l.transferAmount }}</td>
      <td>{{ l.paymentStatus }}</td>
      <td>{{ l.amountPayDate }}</td>
      
    </tr>
  </tbody>
</table>
