.vertical-scrollable>.row {
  position: absolute;
  top: 40px;
  bottom: 100px;
  left: 400px;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
  margin: 0 auto;
} 
.col{
  width: 250px;
  float: left;
  margin: 5px;
}  
.col-sm-8 {
  color: black;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
 font-family: 'Times New Roman', Times, serif;
}
#progressbar {
  counter-reset: step;
}
#progressbar li {
   font-size: 10px;
   width: 15%;
   float: left; 
   list-style-type: none; 
  
 }
 
 #progressbar li:before {
   content: counter(step);
   counter-increment: step;
   width: 24px;
   height: 24px;
   line-height: 26px;
   display: block;
   border-radius: 25px;
   margin:  5px 10px  5px 0px;
   text-align: center;
 }
 
  #progressbar li:first-child:after {
   
   content: none;
 }
 
 #progressbar li.active:before,
#progressbar li.active:after {
  background: #ee0979;
  color: white;
}

#progressbar li.inactive:before {
  background: burlywood;
  color: #000;
}
 .action-button {
  width: 100px;
  background:mediumblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

input{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px;
}
.fs-title{
  text-align: center;
  background-color: yellowgreen;
  width :1000px
}
select{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px; 
}

.action-button-previous {
  width: 100px;
  background:crimson;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}