<p>ledger-management works!</p>
<div class="disbursement">
  <form [formGroup]="ledgerForm" (ngSubmit)="onSubmit()">
    <table>
      <thead>
        <h1>ledger Form</h1>
      </thead>
      <tbody>
        <tr>
          <Label>Enter Ledger Created Date</Label>
          <input type="number" formControlName="ledgerCreatedDate" />
        </tr>

        <tr>
          <Label>Enter otal Loan Amount</Label>
          <input type="number" formControlName="totalLoanAmount" />
        </tr>

        <tr>
          <Label>Enter payable Amount With Interest </Label>
          <input type="number" formControlName="payableAmountWithInterest" />
        </tr>

        <tr>
          <Label>Enter tenure </Label>
          <input type="number" formControlName="tenure" />
        </tr>

        <tr>
          <Label>Enter monthlyEmi </Label>
          <input type="number" formControlName="monthlyEmi" />
        </tr>

        <tr>
          <Label>Enter amountPaidTillDate</Label>
          <input type="number" formControlName="amountPaidTillDate" />
        </tr>

        <tr>
          <Label>Enter remainingAmount</Label>
          <input type="number" formControlName="remainingAmount" />
        </tr>

        <tr>
          <Label>Enter nextEmiDateStart </Label>
          <input type="text" formControlName="nextEmiDateStart" />
        </tr>

        <tr>
          <Label>Enter nextEmiDateEnd </Label>
          <input type="text" formControlName="nextEmiDateEnd" />
        </tr>

        <tr>
          <Label>Enter defaulterCount </Label>
          <input type="number" formControlName="defaulterCount" />
        </tr>

        <tr>
          <Label>Enter previousEmiStatus </Label>
          <input type="text" formControlName="previousEmiStatus" />
        </tr>

        <tr>
          <Label>Enter currentMonthEmiStatus </Label>
          <input type="text" formControlName="currentMonthEmiStatus" />
        </tr>

        <tr>
          <Label>Enter loanEndDate </Label>
          <input type="text" formControlName="loanEndDate" />
        </tr>

        <tr>
          <Label>Enter loanStatus </Label>
          <input type="text" formControlName="loanStatus" />
        </tr>

        <tr>
          <button type="submit" class="btn btn-success">Save</button>
        </tr>
      </tbody>
    </table>
  </form>
</div>
