.p{
    padding: 70px;
    text-align: center;
    font-style: normal;
    
}
.container{
    margin-top:90px;
    }
    .border{
      padding: 10px;
    }
    .btn{
      margin-right: 10px;
    
    }
    .fa {
      margin-right: 10px;
    }
    .modal.show{
      display: block;
    
    }
    .modal-header{
      height: 40px;
    
    }
    
    .mod{
      border-spacing: 10px;
    border-collapse: separate;
    font-family: 'Times New Roman', Times, serif;
        text-align: left;
    
      
    }
    .modal-title{
      font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
        color:black;
    
    }
    .modal-header
    {
      background-color: violet;
    }
    h5{
      color: brown;
      font-weight: bold;
    }