
<div class="enq">
    <form [formGroup]="enquiryForm" (ngSubmit)="submitEnquiry()">
        <table class="table table-striped mt-5">
            <thead>
                <h1>Enquiry Form</h1>
            </thead>
            <tbody>
                <tr>
                    <td><label for="customerName">Enter Applicant Name</label></td>
                    <td><input type="text" id="customerName" formControlName="customerName"></td>
                </tr>
                <tr>
                    <td><label for="age">Enter Applicant Age</label></td>
                    <td><input type="text" id="age" formControlName="age"></td>
                </tr>
                <tr>
                    <td><label for="customerEmailId">Enter Applicant Email</label></td>
                    <td><input type="email" id="email" formControlName="customerEmailId"></td>
                </tr>
                <tr>
                    <td><label for="customerMobileNumber">Enter Applicant MobileNo.</label></td>
                    <td><input type="text" id="customerMobileNumber" formControlName="customerMobileNumber"></td>
                </tr>
                <tr>
                    <td><label for="pancardNumber">Enter Applicant PanCard No.</label></td>
                    <td><input type="text" id="pancardNumber" formControlName="pancardNumber"></td>
                </tr>
                <tr>
                    <td><label for="city">Enter  City</label></td>
                    <td><input type="text" id="age" formControlName="city"></td>
                </tr>
                <tr>
                    <td><label for="pincode">Enter  PinCode</label></td>
                    <td><input type="text" id="pincode" formControlName="pincode"></td>
                </tr>
                <tr>
                <td><label for="date">Enter Date (Format: YYYY-MM-DD)</label></td>
                <td><input type="text" id="date" formControlName="date" placeholder="YYYY-MM-DD"></td>
            </tr>
                <tr>
                    <td><label for="enquiry">Enquiry</label></td>
                    <td><input type="text" id="enquiry" formControlName="enquiry"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Submit</button>
        <button type="button" class="btn btn-primary btn-lg mb-2 w-100" (click)="onUpdate()">Update</button>
    </form>
</div>